/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}


/*Utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-main{
    width: 1000px;
    margin: 0 auto;
}

.col{
    float: left;
}


.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}

.w-33{
    width: calc(100% / 3 - 40px);
} 

.w-33.heigh-col{
    height: 900px;
}

.col.w-33:nth-child(3n + 2){
    margin: 0 60px;
}

/*HEADER*/
/*Header-top*/
.header-top{
    height: 80px;
    line-height: 80px;
}

#logo{
    vertical-align: middle;
}

.menu-left{
    display: inline-block;
}

.menu-left li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
}

.menu-left a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.btn{
    padding: 5px 15px;
    background-color: #0061FF;
    color: white;
    border: transparent;
}

.btn.btn-size{
    padding: 10px 35px ;
    margin-top: 30px;
}

.position{
    position: relative;
}

.position-right{
    position: absolute;
    top: 0;
    right: 0;
}

/*Spotlight*/
.spotlight{
    background-color: #B4D0E7;
    height: 600px;
}

.spotlight h1{
    font-size: 60px;
    padding-top: 60px;
}

.spotlight p{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
}

.spotlight .text-spotlight{
    margin-top: 10px;
    font-size: 12px;
}

#img-jumbotron{
   width: 100%;
   position: relative;
   top: 40px;
   left: 0;
}

.fa-arrow-down{
    font-size: 40px;
    margin-top: 40px;
}


/*MAIN*/
/*Section col*/
.main-top h2{
    margin-top: 120px;
    font-size: 40px;
}

.radio-item{
    margin-top: 35px;
}

.price{
    margin-top: 30px;

}

.price .col{
    border: 1px solid lightgray;
}

.text-border{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
}

.col-price{
    margin-left: 30px;
}

.col-price h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.col-price .text-price{
    font-size: 16px;
}

.col-price .text-color{
    color: gray;
    font-size: 14px;
}

.col-price ul{
    margin-top: 40px;
}

.col-price li{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 14px;
}

.col-price a{
    color: #0061FF; 
}

.col-price hr{
    width: 50px;
}

.col-price h4{
    margin-top: 40px;
}

.fa-check{
    color: #0061FF;
}

/*Main center*/
/*First section*/
.structure{
    border: 1px solid lightgray;
    margin-top: 50px;
    width: 100%;
    position: relative;
}

.structure h3{
    margin-top: 20px;
    margin-left: 20px;
}

.structure h5{
    margin-top: 20px;
    margin-left: 20px;
}

.structure p{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.button-position{
    position: absolute;
    top: 20px;
    right: 20px;
}

/*Second section*/

.img-form{
    width: 100%;
    margin-top: 100px;
}

.text-position{
    margin-left: 40px;
}

.text-position h2{
    font-size: 26px;
}

.text-position p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
}

.btn.btn-white{
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-top: 30px;

}

/*Third section*/
.title{
    margin-top: 20px;
}

.title h2{
    margin-top: 50px;
}

.img-position{
    width: 100%;
    margin-top: 40px;
}

.title h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.title p{
    font-size: 15px;
}

span{
    text-decoration: underline;
}

/*Title*/
.title-main-bottom h2{
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 28px;
}

.title-main-bottom a{
    color: #0061FF;
}

/*Blocks*/
/*Utilitis*/
.bg-lightgreen{
    background-color: #A2D39B;
}

.bg-bordeaux{
    background-color: #61082B;
}

.bg-lightblue{
    background-color: #0093CE;
}

.bg-lightred{
    background-color: #FF1C1C;
}

.bg-darkred{
    background-color: #D5001F;
}

.bg-heavenly{
    background-color: #B4D0E7;
}

.bg-blue{
    background-color: #0D2481;
}

.bg-yellow{
    background-color: #FFD830;
}

.bg-sand{
    background-color: #F5F5F5;
}

/*Three blocks*/
/*Left and right blocks*/
.square{
    margin-top: 50px ;
}

.block{
    float: left;
    height: 400px;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.quadrate{
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
}

.quadrate img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

/*Central block*/
.form-img{
    width: 25%;
    height: 25%; 
    margin-top: 50px;
    margin-left: 50px;  
}

.ring p{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 25px;
}

.ring span{
    font-size: 14px;
    text-decoration: none;
    margin-left: 50px;
}